body {
	background-color: #5c0d07;
	overflow-x: hidden;
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	display: grid;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(0, 0, 0, 50%);
}

#header {
	grid-template-areas:
	"hed-1 hed-2";
}

#meni {
	justify-self: end;
	margin-right: 20px;
}

h1 {
	font-size: 150px;
	color: white;
	margin: 0;
	padding-bottom: 15px;
	word-break: break-word;
}

p1 {
	font-size: 40px;
	color: white;
	margin: 0;
}

p2 {
	font-size: 40px;
	color: white;
	margin: 0;
}

a{
	color:white;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

#elementi {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-auto-rows: auto auto;
	gap:5em;
	margin: 50px 7vw 100px 7vw;
	grid-template-areas:
	"box-1 box-5 box-2"
	"box-3 box-5 box-4";
	align-items: stretch;
}

.element1 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.element2,
.element4 {
	overflow: hidden;
	max-height: 100%;
	position: relative;
	vertical-align: bottom;
}

.text2,
.text4 {
	position:absolute;
	bottom:0;
}

footer {
	text-align: center;
	margin: 30px;
}

.element2 img {
	width: 100%;
	height: 100%;
}

a:hover {
	opacity: 60%;
}