body {
	background-color: #5c0d07;
	overflow-x: hidden;
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	display: grid;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(0, 0, 0, 50%);
}

#meni {
	justify-self: end;
	margin-right: 20px;
}

h1 {
	font-size: 150px;
	color: white;
	margin: 0;
	padding-bottom: 15px;
	word-break: break-word;
}

p1 {
	font-size: 40px;
	color: white;
	margin: 0;
}

p2 {
	font-size: 25px;
	color: white;
	margin: 0;
}

a{
	color:white;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

#elementi {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: 0.5fr 0.5fr;
	gap:1em;
	margin: 50px 7vw 100px 7vw;
	grid-template-areas:
	"box-1 box-2"
	"box-1 box-3";
	align-items: stretch;
}

.text-block2,
.text-block3  {
	position: absolute;
	bottom: 0;
	background: rgb(69, 11, 7, 0.8);
	color: white;
	padding: 30px;
	width:100%;
}

.element2,
.element3 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.element1 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

footer {
	text-align: center;
	margin: 30px;
}

.element2:hover,
.element3:hover {
	opacity: 0.5;
	transition: opacity 150ms;
}

.element2 img,
.element3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

a:hover {
	opacity: 60%;
}